.slider-block{
    max-width: 1920px;
    min-width: 1200px;
    height: 480px;
    margin-top: -24px;
}
.slide1{
    max-width: 1000%;
    height: 480px;
    background-image: url(../img/background1.png);
    background-size: cover;
}
.slide2{
    display: flex;
    background-size: cover;
    width: 888px;
    height: 480px;
    position: absolute;
    object-fit: none;
    object-position: -950px;
    left: 967px;
}
.slide3{
    display: flex;
    background-size: cover;
    position: absolute;
    margin-top: 20px;
}
.slider-text-big{
    position: relative;
    color: #FFFFFF;
    font-size: 36px;
    padding-left: 379px;
    top: 124px;
    line-height: 48px;
    font-weight: 700;
}
.slider-text-little{
    position: relative;
    color: #FFFFFF;
    font-size: 20px;
    padding-left: 379px;
    top: 128px;
    line-height: 41px;
    font-weight: 500;
}
  .color-rgb{
    border-bottom: 4px solid;
    border-image-source: linear-gradient(90deg, #F7941D 0%, #27AAE1 100%);
    border-image-slice: 1;
  }
  .dialog-block{
    position: relative;
    background-image: url(../img/dialog-block.png);
    width: 262px;
    height: 220px;
    top: 100px;
    left: 370px;
    background-repeat: no-repeat;
    padding-top: 10px;
}
.sava{
    position: relative;
    left: 72px;
    top: 268px;
    background-image: url(../img/sava.png);
    width: 168px;
    height: 188px;
}
.dialog-block-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 19.5px;
    color: #000000;
    margin-top: 20px;
    margin-left: 20px;
    width: 170px;
}
.block1{
display: flex;
}
.inblock {
    display: flex;
    position: absolute;
    margin-left: 642px;
    margin-top: 96px;
    max-width: 888px;
    height: 80px;
}
.children {
    position: relative;
    left: 35px;
    top: 8px;
    background-image: url(/src/assets/img/children.png);
    background-repeat: no-repeat;
    width: 52.08px;
    height: 50.08px;
}
.border {
    position: relative;
    border-bottom: 1px #E0E0E0 solid;
    color: #E0E0E0;
    width: 880px;
    height: 3px;
    top: 71px;
    left: -35px;
}
.border2 {
    position: absolute;
    border-bottom: 4px solid;
    border-image-source: linear-gradient(90deg, #F7941D 0%, #27AAE1 100%);
    border-image-slice: 1;
    width: 160px;
    height: 5px;
    margin-top: 66px;
    left: 15px;
}