.menu{
    display: flex;
    justify-content: center;
    height: 110px;
    font-size: 14px;
}
.menu a{
    text-decoration: none;
}
.menu li{
    list-style: none;
}
.menu_list{
    display: flex;
    margin-top: 45px;
}
.menu_link{
    padding: 20px 20px 41px 20px;  
    color: #000000; 
}
.menu_link:hover{
border-bottom: 4px solid;
    border-image-source: linear-gradient(90deg, #F7941D 0%, #27AAE1 100%);
    border-image-slice: 1;
}
.cities{
    list-style: none;
    margin: 0;
    margin-left: 20px;
    color: #000000; 
}
.user{
    padding: 20px 20px 5px 20px;  
    color: #000000; 
}
