.little_plus{
    position: absolute;
    top: 214px;
    left: 1445px;
  }
.big_plus{
    position: absolute;
    top: 190px;
    left: 200px;
  }
.vector1{
    position: absolute;
    top: 480px;
    left: 159px;
  }
.vector2{
    position: absolute;
    top: 377px;
    left: 1565px;
  }
.vector3{
    position: absolute;
    top: 232px;
    left: 1160px;
  }
.vector_triangle{
    position: absolute;
    top: 465px;
    left: 642px;
  }
.vector_circle{
    position: absolute;
    top: 150px;
    left: 900px;
  }
  .vector_horizontal{
    position: absolute;
    top: 318px;
    left: 823px;
  }
  .plus{
    position: absolute;
    top: 1505px;
    left: 1270px;
  }
  .vector4{
    position: absolute;
    top: 1080px;
    left: 1250px;
  }
  .vector5{
    position: absolute;
    top: 1420px;
    left: 310px;
  }
  .vector_triangle2{
    position: absolute;
    top: 1070px;
    left: 480px;
  }
  .video-player{
    position: absolute;
  }
  .player{
    position: absolute;
    top: 310px;
    left: 576px;
  }
  .player-opacity{
    position: absolute;
    background: #00093C;
    opacity: 0.6;
    border-radius: 20px;
    width: 780px;
    height: 436px;
  }
  .play-ellipse{
    position: relative;
    top: -267px;
    left: 350px;
  }
  .play{
    position: relative;
    top: -342px;
    left: 385px;
  }