.little_plus{
    position: absolute;
    top: 214px;
    left: 1445px;
  }
.big_plus{
    position: absolute;
    top: 190px;
    left: 200px;
  }
.vector1{
    position: absolute;
    top: 480px;
    left: 159px;
  }
.vector2{
    position: absolute;
    top: 377px;
    left: 1565px;
  }
.vector3{
    position: absolute;
    top: 232px;
    left: 1160px;
  }
.vector_triangle{
    position: absolute;
    top: 465px;
    left: 642px;
  }
.vector_circle{
    position: absolute;
    top: 150px;
    left: 900px;
  }
  .vector_horizontal{
    position: absolute;
    top: 318px;
    left: 823px;
  }